.sidebar-left {
    background-color: aquamarine;
    width: 200px;
    height: 100%;
}

.sidebar-right {
    background-color: cadetblue;
    width: 200px;
    height: 100%;
}

.drawer-content {
    background-color: aqua;
    width: 320px
}


.list-title {
    display: flex;
    flex-direction: row;

}